*{
   margin: 0;
   padding: 0;
}
body{
   background-color: #E9ECF4;
   color:#000;
   font-family: 'Roboto', sans-serif;
}

.contenedor{
   max-width: 1000px;
   margin: 20px auto;
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, auto);
   grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "footer footer footer";
}
.contenedor > div,
.contenedor > .header,
.contenedor > .contenido,
.contenedor > .sidebar,
.contenedor > .footer{
   background-color: #fff;
   padding: 20px;
   border-radius: 4px;
}
.contenedor .header{
   background-color: #12203E;
   color:#fff;
   /* grid-column: 1 / -1; */
   grid-area: header;
}
.contenedor>.contenido{
   /* grid-column: span 2; */
   grid-area: contenido;
}

.contenedor>.sidebar{
   /* grid-column: 3 / 4; */
   /* grid-row: span 2; */
   background-color:#FAA43D;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 80px;
   grid-area: sidebar;
}

.contenedor>div{
   height: 70px;
   background-color: #55a8fd;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.contenedor .widget-1{
   grid-area: widget-1;
}
.contenedor .widget-2{
   grid-area: widget-2;
}
.contenedor>.footer{
   /* grid-column: 1 / -1; */
   background-color: #12203E;
   color:#fff;
   grid-area: footer;
}

@media screen and (max-width: 768px){
   /* .contenedor>.contenido{
      grid-column: 1 / -1;
   }
   .contenedor>.sidebar{
      grid-column: 1 / -1;
   }
   .contenedor .widget-1{
      grid-column: span 2;
   } */

   /* usaremos el metodo de template area */

   .contenedor{
      grid-template-areas: "header header header"
                           "contenido contenido contenido"
                           "sidebar sidebar sidebar"
                           "widget-1 widget-1 widget-2"
                           "footer footer footer";
   }
   
}